{%extends 'base.html'%}
{%block contents%}
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Accuracy, Precision, Recall, F1-score and AUC are measured to assess the performance of models. Accuracy refers to the ratio of the number of samples that the model predicts correctly to the total number of samples. Precision indicates the ratio of truly positive samples among the samples predicted to be positive. Recall represents how many positive examples in the actual sample are predicted correctly, while Classifiers represents how many negative examples in the actual sample are predicted correctly..
            </p>
            <a href="https://ieeexplore.ieee.org/document/9406002" target="_blank" class="btn-learn-more">Learn More</a>
          </div>
{%endblock%}